/*COLORS*/
$gray-xl: #f4f4f4;
$gray-lt: #A0A0A0;
$gray: #737373;
$gray-md: #6f6f6f;
$gray-dk: #3e3d3c;
$gray-xdk: #1F1F1F;
$tan-lt: #eeeadf;
$tan: #e3dcc9 ;
$tan-dk: #b6b0a1;
$red-lt: #e0938d;
$red: #cc4b42;
$red-dk: #8e342e;
$orange-lt: #fcbaa9;
$orange: #f45b1f;
$orange-dk: #c34818;
$gold-lt: #EFBE74;
$gold: #EBA030;
$gold-dk: #9a6100;
$green-lt: #b1d235;
$green: #9ac53c;
$green-dk: #6aab43;
$green-xdk: #519040;
$blue-lt: #6285a4;
$blue: #1f517d;
$blue-dk: #194164;
$blue-xdk: #10293f;
$teal-lt: #a5e5f2;
$teal: #00bbde;
$teal-dk: #0f7384;
$purple-lt: #cea2d0;
$purple: #9d45a2;
$purple-dk: #521e59;
$pink-lt: #ff92a4;
$pink: #ff647d;
$pink-dk: #cc5064;

$primary: $blue;
$primary-lt: $blue-lt;
$primary-dk: $blue-dk;
$primary-xdk: $blue-xdk;
$secondary: $gold;
$secondary-lt: $gold-lt;
$secondary-dk: $gold-dk;
$tertiary: $tan;
$tertiary-lt: $tan-lt;
$tertiary-dk: $tan-dk;

/*FONTS*/
$font-script: 'Roboto', sans-serif;
$font-display: 'Roboto Condensed', sans-serif;
$font-sans: 'Lato', sans-serif;
$font-xxs: 14px;
$font-xs: 16px;
$font-sm: 18px;
$font-md: 24px;
$font-lg: 32px;
$font-xl: 40px;
$font-xxl: 60px;
$font-hero: 72px;

/*BORDER RADIUS*/
$border-radius: 5px;
$border-radius-lg: 30px;

/*CSS ANIMATIONS*/
$cubic: cubic-bezier(0.0, 0.0, 0.2, 1);

/*SPACING*/
$space-xs: 5px;
$space-sm: 10px;
$space-md: 20px;
$space-lg: 30px;
$space-xl: 50px;
$space-xxl: 100px;
