@import '../../assets/scss/utilities.scss';

.base__icon-list-item {
  background: #fff;
  display: grid;
  grid: auto / 24px 1fr;
  gap: $space-lg;
  align-items: center;
  margin-bottom: 16px;
  padding: $space-lg;

  .title {
    font-family: $font-sans;
    font-size: $font-md;
    padding-bottom: $space-md;
  }

  .icon {
    margin: 0 auto;
    position: relative;
    text-align: left;
    width: 100%;

    svg,
    svg>* {
      height: 48px;
      stroke: #000;
    }

    img {
      width: 100%
    }
  }
}