@use '../utilities' as utilities;


.site-wrap {
  .nav-open & {
    overflow: hidden;
  }

  &::before {
    background: #000;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
    @include utilities.transition(opacity .3s linear .1s);

    .nav-open &,
    .search-open & {
      opacity: .4;
      z-index: 3;

      .utility {
        z-index: 1;
      }
    }
  }

  .toggles {
    display: none;

    @include utilities.breakpoint(sm-max) {
      display: flex;
      justify-content: end;
    }
  }

  .toggles,
  .nav {
    .search-toggle {
      box-shadow: none;
      color: utilities.$secondary;
      cursor: pointer;
      font-size: utilities.$font-md;
      line-height: 1.2em;
      margin-left: 15px;
      @include utilities.transition(color .3s linear);

      @include utilities.breakpoint(sm-max) {
        font-size: 40px;
        margin-left: 0;
      }

      .search-open & {
        .icon-search {
          &::before {
            content: "\e912";
          }
        }
      }

      &:hover,
      &:focus {
        color: utilities.$secondary-lt;
      }
    }

    .nav-toggle {
      background: utilities.$primary-lt;
      box-shadow: none;
      display: none;
      height: 40px;
      margin: 2px 0 0 15px;
      padding: 10px 5px;
      position: relative;
      width: 40px;

      @include utilities.breakpoint(sm-max) {
        display: block;
      }

      span {
        background: #fff;
        border-radius: 3px;
        display: block;
        width: 30px;
        height: 2px;
        transform-origin: center;
        @include utilities.transition(margin .3s utilities.$cubic, transform .3s utilities.$cubic, background .3s linear);

        + span {
          margin-top: 7px;
        }

        .nav-open & {
          position: absolute;
          left: 6px;
          top: 18px;

          &:nth-of-type(1) {
            margin-bottom: -4px;
            margin-top: 0;
            transform: rotate(45deg);
          }


          &:nth-of-type(2) {
            margin-top: 0;
            transform: rotate(-45deg);
          }

          &:nth-of-type(3) {
            display: none;
          }
        }
      }
    }
  }

  .header {
    // box-shadow: 0 0 5px 5px rgba(#000, .2);
    background: utilities.$primary-xdk;
    color: #fff;
    padding: utilities.$space-md 0;
    position: relative;
    width: 100%;
    z-index: 9;

    .nav-open &,
    .search-open & {
      @include utilities.breakpoint(sm-max) {
        background: utilities.$gray-xdk !important;
      }
    }

    .inner {
      align-items: center;
      display: grid;
      gap: utilities.$space-lg;
      grid: auto / 1fr 4fr;

      @include utilities.breakpoint(sm-max) {
        grid: auto / 1fr 1fr;
      }
    }

    .nav-wrapper {
      align-items: center;
      display: flex;
      gap: utilities.$space-md;
      justify-content: end;

      @include utilities.breakpoint(sm-max) {
        margin-top: utilities.$space-sm;
      }
    }

    .site-branding {
      a {
        box-shadow: none;
        border: none;
        display: inline-block;
        outline: none;
      }

      img {
        height: 110px;
        @include utilities.transition(max-width .2s linear);

        @include utilities.breakpoint(sm-max) {
          height: 90px;
        }
      }
    }

    .scroll & {
      // left: 0;
      // position: fixed;
      // top: 0;
      // z-index: 9;

      .site-branding {
        img {
          max-width: 250px;
        }
      }

      .nav {
        @include utilities.breakpoint(lg) {
          gap: utilities.$space-lg;
        }
      }

      a {
        font-size: utilities.$font-xxs !important;
      }
    }

    .utility {

      @include utilities.breakpoint(sm-max) {
        margin: utilities.$space-xl 0;
      }

      ul {
        margin: 0;
        padding: 0;
        text-align: right;

        @include utilities.breakpoint(sm-max) {
          text-align: left;
        }

        li {
          display: inline-block;
          line-height: 1em;
          margin: 0 0 0 utilities.$space-xs;

          + li {
            border-left: 1px solid utilities.$secondary;
            margin-left: utilities.$space-md;
            padding-left: utilities.$space-md;
          }

          @include utilities.breakpoint(sm-max) {
            display: block;
            margin: 0;

            + li {
              border: none;
              margin-top: 15px;
              margin-left: 0;
              padding-left: 0;
            }
          }

          a {
            color: #fff;
            font-size: utilities.$font-xxs;

            @include utilities.breakpoint(md) {
              font-size: utilities.$font-xxs;
              color: #fff;
            }

          }
        }
      }
    }

    .nav {
      display: flex;
      flex-wrap: wrap;
      gap: utilities.$space-md;
      justify-content: flex-end;

      @include utilities.breakpoint(sm-max) {
        background: utilities.$gray-xdk;
        display: block;
        max-height: 0;
        min-height: 100vh;
        overflow: hidden;
        position: absolute;
        right: 0;
        text-align: left;
        top: calc(100% + 25px);
        width: 0;
        z-index: 9;
        @include utilities.transition(width .3s utilities.$cubic);
      }

      &::before,
      &::after {
        display: none;
      }

      .nav-open & {
        @include utilities.breakpoint(sm-max) {
          padding: 0 utilities.$space-md;
          top: 100%;
          width: 100vw;
        }
      }
    }

    .menu {
      @include utilities.breakpoint(md-min) {
        display: flex;
        justify-content: end;
        order: 2;
        text-align: right;
      }

      @include utilities.breakpoint(sm-max) {
        margin: utilities.$space-xl 0;
      }

      .search-toggle {
        @include utilities.breakpoint(sm-max) {
          display: none;
        }
      }

      ul:not(.contextual-links) {
        margin: 0;
        padding: 0;

        @include utilities.breakpoint(sm-max) {
          list-style-type: none;
          text-align: left;
        }

        li {
          &.level-1 {
            display: inline-block;
            margin: 0 0 0 15px;

            @include utilities.breakpoint(sm-max) {
              border-bottom: 1px solid utilities.$secondary;
              display: block;
              padding-bottom: utilities.$space-md;
              margin: 0 0 utilities.$space-md 0;
            }

            &.parent {
              margin-bottom: -20px;
              padding-bottom: 20px;
              position: relative;

              @include utilities.breakpoint(md) {
                padding-right: utilities.$space-md;
              }

              @include utilities.breakpoint(sm-max) {
                margin-bottom: utilities.$space-md;
                padding-bottom: utilities.$space-md;
                padding-right: utilities.$space-md;
              }

              &::after {
                content: "\e90d";
                display: inline-block;
                font-family: icomoon;
                font-size: utilities.$font-sm;
                margin-left: 2px;
                vertical-align: -4px;

                @include utilities.breakpoint(md) {
                  font-size: 1em;
                  position: absolute;
                  right: 0;
                  top: 0;
                }

                @include utilities.breakpoint(sm-max) {
                  position: absolute;
                  right: 0;
                  top: 0;
                }
              }

              &.open {
                &::after {
                  content: "\e90c";
                }

                > ul {
                  opacity: 1;
                  visibility: visible;
                  z-index: 3;

                  @include utilities.breakpoint(sm-max) {
                    height: auto;
                    margin-top: utilities.$space-sm;
                    padding: 0;
                    position: relative;
                  }
                }

                a {
                  background: none;
                }
              }

              &:hover {
                @include utilities.breakpoint(md-min) {
                  &::after {
                    content: "\e90c";
                  }

                  > ul {
                    opacity: 1;
                    visibility: visible;
                    z-index: 3;

                    @include utilities.breakpoint(sm-max) {
                      height: auto;
                      margin-top: utilities.$space-sm;
                      padding: 0;
                      position: relative;
                    }
                  }

                  a {
                    background: none;
                  }
                }
              }

              > ul {
                background: #fff;
                box-shadow: 0 0 10px 3px rgba(0, 0, 0, .1);
                left: 0;
                margin: 0;
                opacity: 0;
                padding: utilities.$space-md;
                position: absolute;
                text-align: left;
                top: 100%;
                visibility: hidden;
                z-index: -1;
                transition: opacity .3s linear .1s;

                @include utilities.breakpoint(lg) {
                  width: 275px;
                }

                @include utilities.breakpoint(sm-max) {
                  background: none;
                  height: 0;
                  padding: 0;
                  position: relative;
                }

                li {

                  a {
                    color: utilities.$primary;
                    font-weight: 400;
                    letter-spacing: 0;
                    text-transform: none;

                    @include utilities.breakpoint(sm-max) {
                      color: #fff;
                      font-size: utilities.$font-xxs;
                    }
                  }
                }
              }
            }
          }

          a {

            &:not(.btn) {
              color: #fff;
              font-family: utilities.$font-display;
              font-size: utilities.$font-sm;
              font-weight: 600;
              position: relative;
              text-decoration: none;
              @include utilities.underline(utilities.$secondary);

              @include utilities.breakpoint(md) {
                font-size: utilities.$font-xxs;
              }

              @include utilities.breakpoint(sm-max) {
                color: #fff;
                font-size: utilities.$font-xs;
                text-decoration: none;
              }

              &:focus,
              &.is-active {
                color: utilities.$secondary;
              }

              &::after {
                display: none
              }

            }
          }
        }
      }
    }
  }
}